{% extends "::layout.html.twig" %}

{% block title %} 
    {{ parent() }} - Mon Bundle 
{% endblock %}

{% block body %}
    <h1> Annonces </h1>
    <hr>

   {% block maplatform_body %}

   {% endblock %}

{% endblock %}
