<h3> Formulaire d'annonce </h3>

<br/>
<br/>
<button type="button" class="btn btn-success">Form</button>
<br/>
<br/>

{# on laisse vide la vue pour l'instant, on la comblera plus tard lorqu'on saura afficher un form. #}

<div class="well">
    Ici se trouvera le formulaire.
</div>